<section class="add-task">
  <div class="container add-task__container">
    <div class="add-task__back">
      <button class="add-task__back-btn btn" (click)="back()">
        {{ "BACK" | translate }}
      </button>
    </div>
    <h2 class="add-task__header">{{ "ADD_USER" | translate }}</h2>
    <div class="add-task__form">
      <form [formGroup]="form">
        <div class="form-group">
          <div class="col">
            <label
              [class.has-error]="name?.invalid"
              class="control-label f-ms"
              >{{ "task.NAME" | translate }}</label
            >
            <input
              class="form-control"
              [formControlName]="'name'"
              type="text"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="col">
            <label
              [class.has-error]="description?.invalid"
              class="control-label f-ms"
              >{{ "task.DESCRIPTION" | translate }}</label
            >
            <input
              class="form-control"
              [formControlName]="'description'"
              type="text"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="col">
            <label
              [class.has-error]="userId?.invalid"
              class="control-label f-ms"
              >{{ "task.USER_NAME" | translate }}</label
            >
            <kendo-dropdownlist
              class="form-dropdown"
              [formControlName]="'userId'"
              [data]="usersList()"
              [textField]="'value'"
              [valueField]="'key'"
              [filterable]="true"
              [valuePrimitive]="true"
              (filterChange)="handleFilter($event)"
            ></kendo-dropdownlist>
          </div>
        </div>
        <div class="form-group">
          <div class="col">
            <label
              [class.has-error]="state?.invalid"
              class="control-label f-ms"
              >{{ "task.STATE" | translate }}</label
            >
            <select
              class="form-control"
              [formControlName]="'state'"
              type="text"
            >
              <option
                [ngValue]="TaskState.Queue"
                label="{{ 'taskState.QUEUE' | translate }}"
              ></option>
              <option
                [ngValue]="TaskState.Progress"
                label="{{ 'taskState.PROGRESS' | translate }}"
              ></option>
              <option
                [ngValue]="TaskState.Done"
                label="{{ 'taskState.DONE' | translate }}"
              ></option>
            </select>
          </div>
        </div>
      </form>
    </div>
    <div class="add-task__add">
      <div
        class="add-task__btn-wrapper"
        tooltipClass="{{ canAdd ? 'k-tooltip' : 'k-tooltip-danger' }}"
        [title]="canAdd ? '' : ('REQUIRED_FIELDS' | translate)"
        kendoTooltip
      >
        <button
          class="add-task__btn btn"
          (click)="addUser()"
          [disabled]="!canAdd"
        >
          {{ "ADD" | translate }}
        </button>
      </div>
    </div>
  </div>
</section>
