@if (opened) {
  <kendo-dialog
    [title]="'VIEW_USER' | translate"
    (close)="close()"
    [minWidth]="250"
    [width]="450"
  >
    <section class="view-task">
      <div class="container view-task__container">
        <div class="view-task__form">
          <form [formGroup]="form">
            <div class="form-group">
              <div class="col">
                <label
                  [class.has-error]="name?.invalid"
                  class="control-label f-ms"
                  >{{ "task.NAME" | translate }}</label
                >
                <input
                  class="form-control"
                  [formControlName]="'name'"
                  type="text"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="col">
                <label
                  [class.has-error]="description?.invalid"
                  class="control-label f-ms"
                  >{{ "task.DESCRIPTION" | translate }}</label
                >
                <input
                  class="form-control"
                  [formControlName]="'description'"
                  type="text"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="col">
                <label
                  [class.has-error]="userName?.invalid"
                  class="control-label f-ms"
                  >{{ "task.USER_NAME" | translate }}</label
                >
                <input
                  class="form-control"
                  [formControlName]="'userName'"
                  type="text"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="col">
                <label
                  [class.has-error]="state?.invalid"
                  class="control-label f-ms"
                  >{{ "task.STATE" | translate }}</label
                >
                <input
                  class="form-control"
                  [formControlName]="'state'"
                  type="text"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="col">
                <label
                  [class.has-error]="creationDate?.invalid"
                  class="control-label f-ms"
                  >{{ "task.CREATION_DATE" | translate }}</label
                >
                <kendo-datepicker
                  class="form-dropdown"
                  [formControlName]="'creationDate'"
                ></kendo-datepicker>
              </div>
            </div>
            <div class="form-group">
              <div class="col">
                <label
                  [class.has-error]="modificationDate?.invalid"
                  class="control-label f-ms"
                  >{{ "task.MODIFICATION_DATE" | translate }}</label
                >
                <kendo-datepicker
                  class="form-dropdown"
                  [formControlName]="'modificationDate'"
                ></kendo-datepicker>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <kendo-dialog-actions>
      <button kendoButton (click)="close()" themeColor="primary">
        {{ "CLOSE" | translate }}
      </button>
    </kendo-dialog-actions>
  </kendo-dialog>
}
