@font-face {
  font-family: "Roboto Light";
  src: url("../assets/fonts/Roboto-Light.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto Thin";
  src: url("../assets/fonts/Roboto-Thin.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../assets/fonts/Roboto-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto Black";
  src: url("../assets/fonts/Roboto-Black.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../assets/fonts/Roboto-Bold.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Manrope Light";
  src: url("../assets/fonts/Manrope-Light.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Manrope Extra Light";
  src: url("../assets/fonts/Manrope-ExtraLight.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Manrope Medium";
  src: url("../assets/fonts/Manrope-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Manrope Regular";
  src: url("../assets/fonts/Manrope-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Manrope SemiBold";
  src: url("../assets/fonts/Manrope-SemiBold.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Manrope Bold";
  src: url("../assets/fonts/Manrope-Bold.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Manrope Extra Bold";
  src: url("../assets/fonts/Manrope-ExtraBold.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Figtree Light";
  src: url("../assets/fonts/Figtree-Light.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Figtree Regular";
  src: url("../assets/fonts/Figtree-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Figtree Medium";
  src: url("../assets/fonts/Figtree-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Figtree Black";
  src: url("../assets/fonts/Figtree-Black.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Figtree SemiBold";
  src: url("../assets/fonts/Figtree-SemiBold.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Figtree Bold";
  src: url("../assets/fonts/Figtree-Bold.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Figtree Extra Bold";
  src: url("../assets/fonts/Figtree-ExtraBold.ttf");
  font-style: normal;
  font-weight: normal;
}
