$red: #f05545;
$red-hover: #ff3d27;

$green: #00ad7a;
$blue: #2d30c6;
$gray: #aaa8aa;
$yellow: #df9205;
$black: #101920;

$light-gray: #f1f3f8;
$light-red: #ff544033;
$lighter-red: #ff544019;

$dark-gray: #605e5c;

$color-primary: $blue;
$color-dark: $black;
$color-danger: $red;
