$red: #f05545;
$red-hover: #ff3d27;

$green: #72b431;
$blue: #2d30c6;
$gray: #aaa8aa;
$yellow: #ffa400;
$black: #101920;

$light-gray: #f1f3f8;
$light-red: #ff544033;
$lighter-red: #ff544019;

$color-primary: $blue;
