<section class="user-list">
  <kendo-grid
    class="user-list__grid"
    [data]="data"
    [filter]="state.filter"
    [pageable]="true"
    [pageSize]="state.take"
    [skip]="state.skip"
    [filterable]="true"
    [scrollable]="'none'"
    [loading]="loading"
    (dataStateChange)="dataStateChange($event)"
  >
    <kendo-grid-column field="name" [title]="'NAME' | translate">
    </kendo-grid-column>
    <kendo-grid-column
      field="taskName"
      [title]="'TASKS' | translate"
      filter="boolean"
    >
      <ng-template kendoGridFilterCellTemplate let-filter>
        <select
          class="form-control"
          [(ngModel)]="enabledFilterValue"
          (change)="onDropDownChange('taskName', enabledFilterValue)"
        >
          <option [ngValue]="null"></option>
          <option
            [ngValue]="true"
            label="{{ 'HAS_TASKS' | translate }}"
          ></option>
          <option
            [ngValue]="false"
            label="{{ 'NO_TASKS' | translate }}"
          ></option>
        </select>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        @if (dataItem?.taskName) {
          <p class="task has-task">
            {{ dataItem?.taskName }}
          </p>
        } @else {
          <p class="task no-task">{{ "NO_TASK" | translate }}</p>
        }
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="a" [title]="''" [width]="160">
      <ng-template kendoGridFilterCellTemplate>
        <button class="btn btn-success" (click)="onAddProduct()">
          {{ "ADD_USER" | translate }}
        </button>
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="btn-group">
          <div>
            <button
              class="btn ml-2"
              kendoGridEditCommand
              (click)="onView(dataItem.id)"
            >
              <fa-icon [icon]="faEye"></fa-icon>
            </button>
          </div>
          <div>
            <button
              class="btn ml-2"
              kendoGridEditCommand
              (click)="onEdit(dataItem.id)"
            >
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
          </div>
          <div>
            <button
              class="btn"
              kendoGridEditCommand
              (click)="onDelete(dataItem.id)"
            >
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </div>
        </div>
      </ng-template>
    </kendo-grid-column>

    <ng-template
      kendoPagerTemplate
      let-totalPages="totalPages"
      let-currentPage="currentPage"
    >
      <kendo-pager-prev-buttons></kendo-pager-prev-buttons>

      <kendo-pager-info></kendo-pager-info>
      <kendo-pager-numeric-buttons
        [buttonCount]="3"
      ></kendo-pager-numeric-buttons>

      <kendo-pager-next-buttons></kendo-pager-next-buttons>
      <kendo-pager-page-sizes [pageSizes]="pageSizes"></kendo-pager-page-sizes>
    </ng-template>
  </kendo-grid>
  @if (viewDialogOpened) {
    <app-view-user
      [user]="selectedUser"
      (close)="onViewCloseEvent($event)"
    ></app-view-user>
  }
  @if (editDialogOpened) {
    <app-edit-user
      [user]="selectedUser"
      (close)="onEditCloseEvent($event)"
    ></app-edit-user>
  }
  @if (deleteDialogOpened) {
    <app-delete-user (close)="onDeleteCloseEvent($event)"></app-delete-user>
  }
</section>
