@import "../../../../styles/styles";

.user-list {
  margin: 40px 0 0 0;
  box-shadow: 0 24px 38px 0 rgba(0, 0, 0, 0.2);

  .user-list__grid {
    .task {
      width: 120px;
      height: 25px;

      padding: 2px 0 0 0;

      border-radius: 15px;

      color: white;

      text-align: center;
    }
    .has-task {
      background-color: $green;
    }
    .no-task {
      background-color: $yellow;
    }
  }
}
